body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
    color: #fff;
    font-family: Arial, sans-serif;
}

.clock{
    text-align: center;
    font-size: 3rem;
    background: #444;
    padding: 20px 50px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
